@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;1,300;1,400&family=Enriqueta:wght@400;500&family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Enriqueta', serif;
  font-weight: 400;
}

body {
  background-image: url(../img/fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/*---NAV---*/
.header {
  background-image: url(../img/opac.png);
  background-size: cover;
  -webkit-box-shadow: 5px 2px 15px -1px #170903;
          box-shadow: 5px 2px 15px -1px #170903;
}

.header .header__logoAmelie {
  padding: 0.3rem 2.5rem;
}

.header .navbar-dark .navbar-nav .nav-link {
  color: #dab692;
  font-family: 'Enriqueta', serif;
  font-weight: 400;
  font-size: 160%;
  letter-spacing: 1px;
  padding: 1rem 2.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 5px;
}

.header .navbar-dark .navbar-nav .nav-link.active {
  color: #ebd9c6;
  font-weight: 500;
}

.header .navbar-dark .navbar-nav .nav-link:hover {
  color: #e4cdb4;
  background-color: #3d1907c9;
}

/*---FOOTER---*/
.footer {
  background-image: url(../img/opac.png);
  background-size: cover;
  text-align: center;
  -webkit-box-shadow: 5px 2px 15px -1px #170903;
          box-shadow: 5px 2px 15px -1px #170903;
}

.footer .footer__titulo {
  font-family: 'Enriqueta', serif;
  font-weight: 400;
  font-size: 190%;
  color: #dab692;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-top: 1rem;
}

.footer ul li a {
  font-family: 'Enriqueta', serif;
  font-weight: 400;
  color: #dab692;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120%;
  letter-spacing: 1px;
}

.footer ul li a:hover {
  opacity: 0.7;
}

.footer ul li img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.footer .footer__copy {
  color: #dab69279;
  font-size: 110%;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding-top: 1rem;
}
/*---INICIO---*/
.portada {
  height: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portada .portada__logo {
  padding: 3rem;
  height: 35rem;
}

.portada .portada__titluno {
  color: #f2e6d9;
  font-size: 440%;
  font-family: 'Bitter', serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.portada .portada__titldos {
  font-size: 380%;
  color: #f2e6d9;
  font-family: 'Bitter', serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  word-spacing: 4px;
}

/*---TIENDA---*/
.tienda {
  height: 194rem;
}

.tienda .tienda__titlTienda {
  color: #f2e6d9;
  font-size: 500%;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-style: italic;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.tienda .tienda__productos article {
  border: 1px #2e1305 solid;
  background-color: #e5ccb3d5;
  max-width: 28rem;
}

.tienda .tienda__productos article h4 {
  color: #2e1305;
  font-family: 'Bitter', serif;
  font-size: 200%;
  font-weight: 400;
  letter-spacing: 0px;
  word-spacing: 2px;
}

.tienda .tienda__productos article h4.card-title {
  margin: 0;
  padding-bottom: 0.6rem;
}

.tienda .tienda__productos article img {
  height: 25rem;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.tienda .tienda__productos article img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.tienda .tienda__productos article p {
  color: #2e1305;
  font-family: 'Bitter', serif;
  font-size: 200%;
  font-weight: 400;
}

.tienda .tienda__productos article p.card-text {
  margin: 0;
  padding: 0.6rem;
}

.tienda .tienda__productos article div.card-body {
  padding: 0;
}

.tienda .tienda__productos article .btn-light {
  color: #2e1305;
  background-color: #f2e6d9;
  font-family: 'Bitter', serif;
  font-size: 115%;
  border: 1px #f2e6d9 solid;
}

/*---SALE---*/
.sale {
  height: 115rem;
}

.sale .sale__titlSale {
  color: #f2e6d9;
  font-family: 'Bitter', serif;
  font-size: 500%;
  font-weight: 400;
  font-style: italic;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
}

.sale .sale__tempInv {
  color: #f2e6d9;
  font-family: 'Bitter', serif;
  padding-bottom: 5rem;
  font-style: italic;
  font-weight: 400;
  font-size: 300%;
  text-align: center;
}

.sale .sale__ofertas article {
  border: 1px #2e1305 solid;
  background-color: #e5ccb3d5;
  max-width: 28rem;
}

.sale .sale__ofertas article h4 {
  color: #2e1305;
  font-family: 'Bitter', serif;
  font-size: 220%;
  font-weight: 400;
  letter-spacing: 0px;
  word-spacing: 2px;
}

.sale .sale__ofertas article h4.card-title {
  margin: 0;
  padding-bottom: 0.6rem;
}

.sale .sale__ofertas article img {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  height: 25rem;
}

.sale .sale__ofertas article img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.sale .sale__ofertas article p {
  color: #2e1305;
  font-family: 'Bitter', serif;
  font-size: 200%;
  font-weight: 400;
}

.sale .sale__ofertas article p.card-text {
  margin: 0;
  padding: 0.6rem;
}

.sale .sale__ofertas article div.card-body {
  padding: 0;
}

.sale .sale__ofertas article .btn-light {
  color: #2e1305;
  background-color: #f2e6d9;
  font-family: 'Bitter', serif;
  font-size: 115%;
  border: 1px #f2e6d9 solid;
}

/*---COMOCOMPRAR---*/
.comoComprar {
  height: 90rem;
  text-align: center;
}

.comoComprar .comoComprar__comCom {
  color: #f2e6d9;
  font-family: 'Bitter', serif;
  font-size: 500%;
  font-weight: 400;
  font-style: italic;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.comoComprar .comoComprar__containerPasos {
  background-color: #e5ccb3d5;
  border: 2px #2e1305 solid;
  width: 85rem;
  margin: auto;
  padding: 1rem 2.5rem 2.5rem 2.5rem;
}

.comoComprar .comoComprar__containerPasos h3 {
  color: #2e1305;
  font-size: 280%;
  font-weight: 400;
  font-family: 'Bitter', serif;
  letter-spacing: 1px;
  word-spacing: 3px;
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
}

.comoComprar .comoComprar__containerPasos p {
  color: #2e1305;
  font-size: 200%;
  font-weight: 400;
  font-family: 'Bitter', serif;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-bottom: 2rem;
}

/*---CONTACTO---*/
.contacto {
  height: 80rem;
  text-align: center;
}

.contacto .contacto__titlContacto {
  color: #f2e6d9;
  font-family: 'Bitter', serif;
  font-size: 500%;
  font-weight: 400;
  font-style: italic;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contacto .contacto__form {
  width: 60rem;
  background-color: #e5ccb3d5;
  border: 2px #2e1305 solid;
  color: #2e1305;
  font-size: 150%;
  font-family: 'Bitter', serif;
  margin: auto;
  padding: 1.5rem;
}

.contacto .contacto__form .form-group {
  padding: 1rem;
}

.contacto .contacto__form .form-group .btn-light {
  color: #2e1305;
  background-color: #f2e6d9;
  font-size: 110%;
  border: 1px #f2e6d9 solid;
}

.contacto .contacto__form .form-check {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .contacto__form .form-check .form-check-input {
  margin: 0;
}

.contacto .contacto__form .form-check .form-check-label {
  padding: 0.1rem 0.8rem 0rem 0.8rem;
}

@media (max-width: 991px) {
  .portada {
    height: 70rem;
  }
  .portada .portada__logo {
    height: 30rem;
  }
  .tienda {
    height: 282rem;
  }
  .sale {
    height: 156rem;
  }
  .comoComprar {
    height: 85rem;
  }
  .comoComprar .comoComprar__containerPasos {
    width: 70rem;
  }
  .contacto {
    height: 71rem;
  }
}

@media (max-width: 767px) {
  .header .header__logoAmelie .logoMini {
    height: 5rem;
  }
  .footer .footer__titulo {
    font-size: 175%;
  }
  .footer ul li a {
    font-size: 115%;
  }
  .footer .footer__copy {
    font-size: 95%;
  }
  .portada {
    height: 65rem;
  }
  .portada .portada__logo {
    height: 25rem;
  }
  .portada .portada__titluno {
    font-size: 400%;
  }
  .portada .portada__titldos {
    font-size: 340%;
  }
  .tienda {
    height: 277rem;
  }
  .tienda .tienda__titlTienda {
    font-size: 430%;
  }
  .tienda .tienda__productos article h4 {
    font-size: 190%;
  }
  .sale {
    height: 154rem;
  }
  .sale .sale__titlSale {
    font-size: 430%;
  }
  .sale .sale__tempInv {
    font-size: 230%;
  }
  .sale .sale__ofertas article h4 {
    font-size: 190%;
  }
  .comoComprar {
    height: 80rem;
  }
  .comoComprar .comoComprar__comCom {
    font-size: 430%;
  }
  .comoComprar .comoComprar__containerPasos {
    width: 50rem;
  }
  .comoComprar .comoComprar__containerPasos h3 {
    font-size: 250%;
  }
  .comoComprar .comoComprar__containerPasos p {
    font-size: 180%;
  }
  .contacto {
    height: 68rem;
  }
  .contacto .contacto__titlContacto {
    font-size: 430%;
  }
  .contacto .contacto__form {
    width: 55rem;
  }
}

@media (max-width: 575px) {
  .header .header__logoAmelie .logoMini {
    height: 4.5rem;
  }
  .footer .footer__titulo {
    font-size: 160%;
  }
  .footer ul li a {
    font-size: 100%;
  }
  .footer .footer__copy {
    font-size: 80%;
  }
  .portada {
    height: 55rem;
  }
  .portada .portada__logo {
    height: 20rem;
  }
  .portada .portada__titluno {
    font-size: 360%;
  }
  .portada .portada__titldos {
    font-size: 300%;
  }
  .tienda {
    height: 274rem;
  }
  .tienda .tienda__titlTienda {
    font-size: 400%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .tienda .tienda__productos article h4 {
    font-size: 185%;
  }
  .sale {
    height: 149rem;
  }
  .sale .sale__titlSale {
    font-size: 400%;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
  }
  .sale .sale__tempInv {
    font-size: 200%;
    padding-bottom: 4rem;
  }
  .sale .sale__ofertas article h4 {
    font-size: 185%;
  }
  .comoComprar {
    height: 76rem;
  }
  .comoComprar .comoComprar__comCom {
    font-size: 400%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .comoComprar .comoComprar__containerPasos {
    width: 45rem;
  }
  .comoComprar .comoComprar__containerPasos h3 {
    font-size: 235%;
  }
  .comoComprar .comoComprar__containerPasos p {
    font-size: 165%;
  }
  .contacto {
    height: 67rem;
  }
  .contacto .contacto__titlContacto {
    font-size: 400%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .contacto .contacto__form {
    width: 45rem;
  }
}

@media (max-width: 458px) {
  .header .header__logoAmelie .logoMini {
    height: 4rem;
  }
  .footer .footer__titulo {
    font-size: 150%;
  }
  .footer ul li a {
    font-size: 90%;
  }
  .footer .footer__copy {
    font-size: 80%;
  }
  .portada {
    height: 48rem;
  }
  .portada .portada__logo {
    height: 17rem;
  }
  .portada .portada__titluno {
    font-size: 320%;
  }
  .portada .portada__titldos {
    font-size: 260%;
  }
  .tienda {
    height: 272rem;
  }
  .tienda .tienda__titlTienda {
    font-size: 380%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .tienda .tienda__productos article h4 {
    font-size: 175%;
  }
  .sale {
    height: 146rem;
  }
  .sale .sale__titlSale {
    font-size: 380%;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .sale .sale__tempInv {
    font-size: 200%;
    padding-bottom: 3rem;
  }
  .sale .sale__ofertas article h4 {
    font-size: 175%;
  }
  .comoComprar {
    height: 76rem;
  }
  .comoComprar .comoComprar__comCom {
    font-size: 380%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .comoComprar .comoComprar__containerPasos {
    width: 40rem;
  }
  .comoComprar .comoComprar__containerPasos h3 {
    font-size: 230%;
  }
  .comoComprar .comoComprar__containerPasos p {
    font-size: 160%;
  }
  .contacto {
    height: 64rem;
  }
  .contacto .contacto__titlContacto {
    font-size: 380%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .contacto .contacto__form {
    width: 40rem;
  }
}

@media (max-width: 360px) {
  .header .header__logoAmelie .logoMini {
    height: 3.7rem;
  }
  .footer .footer__titulo {
    font-size: 150%;
  }
  .footer ul li a {
    font-size: 90%;
  }
  .footer .footer__copy {
    font-size: 80%;
  }
  .portada {
    height: 46rem;
  }
  .portada .portada__logo {
    height: 16rem;
  }
  .portada .portada__titluno {
    font-size: 310%;
  }
  .portada .portada__titldos {
    font-size: 250%;
  }
  .tienda {
    height: 271rem;
  }
  .tienda .tienda__titlTienda {
    font-size: 370%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .tienda .tienda__productos article h4 {
    font-size: 170%;
  }
  .sale {
    height: 145rem;
  }
  .sale .sale__titlSale {
    font-size: 370%;
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
  }
  .sale .sale__tempInv {
    font-size: 190%;
    padding-bottom: 2.5rem;
  }
  .sale .sale__ofertas article h4 {
    font-size: 170%;
  }
  .comoComprar {
    height: 73rem;
  }
  .comoComprar .comoComprar__comCom {
    font-size: 370%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .comoComprar .comoComprar__containerPasos {
    width: 33rem;
  }
  .comoComprar .comoComprar__containerPasos h3 {
    font-size: 220%;
  }
  .comoComprar .comoComprar__containerPasos p {
    font-size: 150%;
  }
  .contacto {
    height: 61rem;
  }
  .contacto .contacto__titlContacto {
    font-size: 370%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .contacto .contacto__form {
    width: 33rem;
  }
}

/*---ERROR---*/
.error {
  height: 80rem;
  background-color: #461c07a6;
  text-align: center;
}

.error .imagenError {
  width: 45%;
  padding: 5rem;
}

.error .error__perdido {
  color: #f2e6d9;
  font-family: 'Spartan';
  font-weight: 500;
  font-size: 360%;
  letter-spacing: 0px;
  word-spacing: 2px;
  margin: 0rem 1rem 5rem 1rem;
}

.error .error__containerInicio {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error .error__containerInicio a {
  text-decoration: none;
}

.error .error__containerInicio .error__inicio {
  color: #f2e6d9;
  font-family: 'Spartan';
  font-weight: 500;
  font-size: 420%;
  letter-spacing: 1px;
  padding: 2rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.error .error__containerInicio .error__inicio:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */