/*---COMOCOMPRAR---*/
.comoComprar {
    height: 90rem;
    text-align: center;
  
    .comoComprar__comCom {
      color: $titulos;
      font-family: 'Bitter', serif;
      font-size: 500%;
      font-weight: 400;
      font-style: italic;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  
    .comoComprar__containerPasos {
      background-color: #e5ccb3d5;
      border: 2px $marron solid;
      width: 85rem;
      margin: auto;
      padding: 1rem 2.5rem 2.5rem 2.5rem;
  
      h3 {
        color: $marron;
        font-size: 280%;
        font-weight: 400;
        font-family: 'Bitter', serif;
        letter-spacing: 1px;
        word-spacing: 3px;
        padding-top: 1.5rem;
        padding-bottom: 0.8rem;
      }
  
      p {
        color: $marron;
        font-size: 200%;
        font-weight: 400;
        font-family: 'Bitter', serif;
        letter-spacing: 1px;
        word-spacing: 1px;
        padding-bottom: 2rem;
      }
    }
  }