/*---CONTACTO---*/
.contacto {
  height: 70rem;
  text-align: center;

  .contacto__titlContacto {
    color: black;
    font-size: 550%;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 3px;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .contacto__form {
    width: 60rem;
    background-color: #cccccc;
    border: 2px black solid;
    color: black;
    font-family: 'Rubik', sans-serif;
    margin: auto;
    padding: 1.5rem;

    .form-group {
      padding: 1rem;

      .btn-light {
        color: black;
        background-color: white;
        font-size: 180%;
        border: 2px black solid;
      }
    }

    .form-check {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;

      .form-check-input {
        margin: 0;
      }

      .form-check-label {
        padding: 0.1rem 0.8rem 0rem 0.8rem;
      }
    }
  }
}