/*---ERROR---*/
.error {
  height: 80rem;
  background-color: #461c07a6;
  text-align: center;

  .imagenError {
    width: 45%;
    padding: 5rem;
  }

  .error__perdido {
    color: #f2e6d9;
    font-family: 'Spartan';
    font-weight: 500;
    font-size: 360%;
    letter-spacing: 0px;
    word-spacing: 2px;
    margin: 0rem 1rem 5rem 1rem;
  }

  .error__containerInicio {
    justify-content: center;

    a {
      text-decoration: none;
    }

    .error__inicio {
      color: #f2e6d9;
      font-family: 'Spartan';
      font-weight: 500;
      font-size: 420%;
      letter-spacing: 1px;
      padding: 2rem;
      transition: all 0.1s linear;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}