@media (max-width: 767.98px) {
    .portada .portada__logo {
        height: 30rem;
      }

    .tienda {
        height: 282rem;
        }

    .sale {
    height: 156rem;
    }
}

@media (max-width: 575.98px) {
    .portada .portada__logo {
        height: 25rem;
      }
    
      .comoComprar .comoComprar__containerPasos {
        width: 60rem;
      }
}