@media (max-width: 480px) {
    body {
      width: 84rem;
    }
  
    .portada {
      height: 91rem;
    }
}
  
@media (max-width: 828px) {
    body {
      width: 84rem;
    }
  
    .portada {
      height: 91rem;
    }
}