/*---TIENDA---*/
.tienda {
    height: 194rem;
  
    .tienda__titlTienda {
      color: $titulos;
      font-size: 500%;
      font-family: 'Bitter', serif;
      font-weight: 400;
      font-style: italic;
      padding-top: 5rem;
      padding-bottom: 5rem;
      text-align: center;
    }
  
    .tienda__productos article {
      border: 1px $marron solid;
      background-color: #e5ccb3d5;
      max-width: 28rem;
  
      h4 {
        color: $marron;
        font-family: 'Bitter', serif;
        font-size: 200%;
        font-weight: 400;
        letter-spacing: 0px;
        word-spacing: 2px;
  
        &.card-title {
          margin: 0;
          padding-bottom: 0.6rem;
        }
      }
  
      img {
        height: 25rem;
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s;
  
        &:hover {
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
        }
      }
  
      p {
        color: $marron;
        font-family: 'Bitter', serif;
        font-size: 200%;
        font-weight: 400;
  
        &.card-text {
          margin: 0;
          padding: 0.6rem;
        }
      }
  
      div.card-body {
        padding: 0;
      }
  
      .btn-light {
        color: $marron;
        background-color: #f2e6d9;
        font-family: 'Bitter', serif;
        font-size: 115%;
        border: 1px $titulos solid;
      }
    }
  }