@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Enriqueta', serif;
  font-weight: 400;
}

body {
  background-color: #d4d4d4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* NAV */
header {
  background-color: black;
  -webkit-box-shadow: 5px 2px 8px -1px black;
          box-shadow: 5px 2px 8px -1px black; 
}

header .header__logoPrincipal {
  padding: 0.3rem 2.5rem;
}

header .navbar-dark .navbar-nav .nav-link {
  color: #d4d4d4;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 220%;
  letter-spacing: 1px;
  padding: 1rem 2.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 5px;
}

header .navbar-dark .navbar-nav .nav-link.active {
  color: white;
  font-weight: 500;
}

header .navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  background-color: #1b1b1b;
}

header .header__logo {
  padding: 0.3rem 2rem;
}

/* FOOTER */
.footer {
  background-color: black;
  text-align: center;
  -webkit-box-shadow: 5px 2px 8px -1px black;
          box-shadow: 5px 2px 8px -1px black;
}

.footer .footer__titulo {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 200%;
  color: #d4d4d4;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-top: 1rem;
}

.footer ul li a {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #d4d4d4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120%;
  letter-spacing: 1px;
}

.footer ul li a:hover {
  opacity: 0.7;
}

.footer ul li img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.footer .footer__copy {
  color: #646464;
  font-size: 110%;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding-top: 1rem;
}

/* INDEX */
.portada {
  height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portada .portada__titluno {
  color: black;
  font-size: 550%;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 3px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.tienda__productos article {
  border: 2px black solid;
  background-color: whitesmoke;
  width: 39rem;
}

.tienda__productos article h4 {
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 250%;
  font-weight: 400;
  letter-spacing: 0px;
  word-spacing: 2px;
}

.tienda__productos article h4.card-title {
  margin: 0;
}

.tienda__productos article .shirt {
  width: 36rem;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.tienda__productos article .shirt:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* TIENDA */
.tienda {
  height: 125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tienda .tienda__titlTienda {
  color: black;
  font-size: 550%;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 3px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* CONTACTO */
.contacto {
  height: 70rem;
  text-align: center;
}

.contacto .contacto__titlContacto {
  color: black;
  font-size: 550%;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 3px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contacto .contacto__form {
  width: 60rem;
  background-color: #cccccc;
  border: 2px black solid;
  color: black;
  font-family: 'Rubik', sans-serif;
  margin: auto;
  padding: 1.5rem;
}

.contacto .contacto__form .form-group {
  padding: 1rem;
}

.contacto .contacto__form .form-group .btn-light {
  color: black;
  background-color: white;
  font-size: 180%;
  border: 2px black solid;
}

.contacto .contacto__form .form-check {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .contacto__form .form-check .form-check-input {
  margin: 0;
}

.contacto .contacto__form .form-check .form-check-label {
  padding: 0.1rem 0.8rem 0rem 0.8rem;
}


.contacto {
  height: 70rem;
  text-align: center;
}

.contacto .contacto__titlContacto {
  color: black;
  font-size: 550%;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 3px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contacto .contacto__form {
  width: 60rem;
  background-color: #cccccc;
  border: 2px black solid;
  color: black;
  font-family: 'Rubik', sans-serif;
  margin: auto;
  padding: 1.5rem;
}

.contacto .contacto__form .form-group {
  padding: 1rem;
}

.contacto .contacto__form .form-group .btn-light {
  color: black;
  background-color: white;
  font-size: 180%;
  border: 2px black solid;
}

.contacto .contacto__form .form-check {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .contacto__form .form-check .form-check-input {
  margin: 0;
}

.contacto .contacto__form .form-check .form-check-label {
  padding: 0.1rem 0.8rem 0rem 0.8rem;
}

/* Estilos del Menu */
.main-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999999;
}

.menu {
  position: absolute;
  top: 180px;
  left: 0;
  background: red;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
}

.menu__item {
  text-align: center;
  margin: auto;
}

.mostrar {
  opacity: 1;
  visibility: visible;
}

.icon-menu {
  font-size: 1.5em;
  border: 1px solid red;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto;
}

.main-header__btn {
  display: block;
  padding: 5px 5px;
  color: red;
  border: 1px solid red;
  text-decoration: none;
}

.main-header__input {
  color: black;
  background-color: #d4d4d4;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 200%;
  letter-spacing: 1px;
  padding: 1rem 2rem;
}

.main {
  padding: 0 10px;
  margin-bottom: 2em;
}

/* ESTILOS DE PRODUCTOS */
.container-products_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.product_main::before {
  content: "new";
  background: black;
  padding: 10px;
  width: 60px;
  position: absolute;
  top: 20px;
  right: 10px;
  transform: rotate(-90deg);
  color: red;
}

.product__img_main {
  width: 100%;
  object-fit: cover;
}

.product__title_main {
  text-align: center;
}

.product__price_main {
  color: black;
  font-weight: bold;
}

.product__icon_main {
  display: block;
  margin-top: 10px;
}

.product_main:hover .product__icon {
  color: blue;
}

/* ESTILOS DE PRODUCTOS EN JS*/
.container-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

.product_main {
    border: 2px black solid;
    background-color: whitesmoke;
    text-align: center;
    position: relative;
}

.product {
  border: 2px black solid;
  background-color: whitesmoke;
  width: 39rem;
  text-align: center;
  position: relative;
}

.product__img {
  width: 38.6rem;
}

.product__title {
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 250%;
  font-weight: 400;
  margin-top: 0.5rem;
  letter-spacing: 0px;
  word-spacing: 2px;
  text-align: center;
}

.product__price {
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 250%;
  font-weight: 500;
}

.product__icon {
  width: 5rem;
  display: block;
  margin: 1rem;
}

.product:hover .product__icon {
  color: red;
}

.button_modal {
  text-decoration: none;
  border: none;
}

.btnCart {
  color: black;
  border: none;
}

/* CARRITO DE COMPRAS */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 150%;
  pointer-events: auto;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 150%;
  background-color: #d4d4d4;
  background-clip: padding-box;
  border: 2px solid black;
  border-radius: 0.3rem;
  outline: 0;
  top: 150px;
}

.modal-title {
  font-size: 170%;
}

.modal-options {
  font-size: 130%;
}

.imagenesModal {
  height: 95px;
  width: 90px;
  border-radius: 5%;
}

.inputCuenta {
  max-width: 49px;
}

.table-image {
  vertical-align: middle;
  text-align: center;
}

.precioTotal {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 140%;
}
.fab{
  color: white;
}